{% extends 'core/base.html' %}

{% block title%} Dashboard {% endblock%}
{% block content %}
   <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
      <h2 class="mb-12 text-2xl text-center">My items </h2>
     <div class="grid grid-cols-3 gap-6">
  {% for item in items %} 
    <div class="bg-white rounded-xl shadow-md overflow-hidden flex flex-col items-center">
      <a href="{% url 'item:detail'  item.id %}" class="w-full h-full flex flex-col items-center">
        <div class="w-full h-64  gap-2 flex justify-center items-center overflow-hidden">
          <img src="{{ item.image.url }}" class="object-contain h-full" alt="{{ item.name }}">
        </div>

        <div class="p-4 w-full text-center">
          <h2 class="text-xl font-semibold">{{ item.name }}</h2>
          <p class="text-gray-500">Price: {{ item.price }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
   </div>

  

{% endblock %}